 <div id="nav">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Children's Hospital</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#/visits">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  <div class="logout">
  <a href="/#/logout">Logout</a>
</div>
</nav>    


<template>
  <div class="login">
    <div class="container">
      <form v-on:submit.prevent="submit()">
        <h1>Login</h1>
        <ul>
          <li class="text-danger" v-for="error in errors">{{ error }}</li>
        </ul>
        <div class="form-group">
          <label>Employee Number:</label>
          <input type="text" class="form-control" v-model="employeeNumber">
        </div>
        <div class="form-group">
          <label>Password:</label>
          <input type="password" class="form-control" v-model="password">
        </div>
        <input type="submit" class="btn btn-success" value="Submit">
      </form>
    </div>
  </div>
</template>


 <div class="card" style="width: 25rem;">
  <div class="card-header">
    Today's Visits
  </div>
  <ul class="list-group list-group-flush" v-for="visit in visits">
    <li class="list-group-item"> {{ visit.formatted.visit_datetime }} </li>
    <li class="list-group-item"> {{ visit.patient_name }}</li>
    <router-link class="btn btn-primary" v-bind:to="'/patients/' + visit.patient_id">Start Visit</router-link>
  </ul>
</div>


<div class="login">
    <section class="bg-light-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h1 class="heading">Login</h1>
          </div>
        </div>
      </div>
    </section>

 
            <div class="box">
              
              <form action="client-dashboard.html" method="post">
                <ul>
                 <li class="text-danger" v-for="error in errors">{{ error }}</li>
                </ul>
                <div class="form-group">
                  <label for="employee-number">Employee Number: </label>
                  <input id="employee-number" type="text" class="form-control">
                </div>
              </form>
              <div class="form-group">
                <label for="password">Password: </label>
                <input id="password" type="password" class="form-control">
              </div>
              <div class="text-center">
                <button type="submit" onclick="location.href = '#/visits'" class="btn btn-outline-white-primary"><i class="fa fa-sign-in"></i> Log in</button>
              </div>
            </div>
   
  </div>


    <div class="healthcare-providers-show">
    <div class="card" style="width: 25rem;">
  <div class="card-header">
    Today's Visits
  </div>
  
    <ul class="list-group list-group-flush">

  
      <li> {{ healthcare_provider.visit }}
      </li>
  
    <!-- <li class="list-group-item"> {{ healthcare_provider.formatted.todays_visits[0]["visit_datetime"] }} </li>
    <li class='list-group-item'> {{ healthcare_provider.formatted.todays_visits[1]["visit_datetime"] }} </li>
    <li> {{ healthcare_provider["visit"][2]["patient_name"] }} </li> -->
    <router-link class="btn btn-primary" v-bind:to="'/patients/1'">Start Visit</router-link>
  </ul>
</div>
    
</div>

  </div>


  <section>
      <div class="container">
        <h4 class="heading">Todays Visits</h4>
        <div class="job-listing job-listing--featured ">
          <div class="row">
            <div class="col-md-12 col-lg-6">
              <div class="row">
                <div class="col-2"><img src="img/company-1.png" alt="LoremIpsum " class="img-fluid"></div>
                <div class="col-10">
                  <h4 class="job__title"><a href="detail.html">{{ healthcare_provider.visit }} </a></h4>
                  <p class="job__company">
                     
                    Age: 10
                  </p>
                </div>
              </div>
            </div>
            <div class="col-10 col-md-3 col-lg-2 ml-auto"><i class="fa fa-map-marker job__location"></i> healthcare_provider</div>
            <div class="col-10 col-md-3 col-lg-3 ml-auto">
               <a type="button" class="btn btn-primary btn-lg btn-block" href="#/patients/1">Start Visit</a>
            </div>
            <div class="col-sm-12 col-md-2 col-lg-1">
              <div class="job__star"><a href="#" data-toggle="tooltip" data-placement="top" title="Save to favourites" class="job__star__link"><i class="fa fa-star"></i></a></div>
            </div>
        </div>
       </div>
      </div>
    </section>

    <h1>Name: {{ patient.name }}</h1>
    <h5>DOB: {{ patient.formatted.date_of_birth }}</h5>
    <h4>Address: {{ patient.address_1 }}</h4>
    <h4> {{ patient.address_2 }} </h4>
    <h4>{{patient.city }}, {{ patient.state }} {{ patient.zip_code }} </h4>
    <h4> Medication/s: {{ patient.medication }} </h4>

    <a type="button" class="btn btn-primary btn-lg btn-block" href="#/questions/1">Pain Assessment</a>


      <div class="questions-show">
    <h4> {{ question.prompt}} </h4>


    
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Answer
      </button>
  <!-- div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> -->
   <div v-for="possible_answer in question.possible_answers">
    <router-link :to="{name: 'questions-show', params: {id: possible_answer.next_question_id}}" > {{ possible_answer.choice }} </router-link>
     
   </div>
  <!--   <a v-for="possible_answer in question.possible_answers" class="dropdown-item" onclick="location.href = '#/questions/' +  possible_answer.next_question_id" > {{ possible_answer.choice }} </a> -->

  
    
  <!-- </div>
 -->

import axios from "axios";

export default {
  template: "#login-page",
  data: function() {
    return {
      employeeNumber: "",
      password: "",
      errors: []
    };
  },
  methods: {
    submit: function() {
      var params = {
        employee_number: this.employeeNumber,
        password: this.password
      };
      axios
        .post("http://localhost:3000/api/sessions", params)
        .then(response => {
          axios.defaults.headers.common["Authorization"] =
            "Bearer " + response.data.jwt;
          localStorage.setItem("jwt", response.data.jwt);
          localStorage.setItem("healthcare_provider_id", response.data.healthcare_provider_id);
          this.$router.push("/");
        })
        .catch(error => {
          this.errors = ["Invalid employee number or password."];
          this.employeeNumber = "";
          this.password = "";
        });
    }
  }
};

<div class="login">
   <section class="job-form-section job-form-section--image">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="job-form-box" >
              <h2 class="heading">Login</h2>
              <form id="job-main-form" method="get" action="#" class="job-main-form" v-on:submit.prevent="submit()">
                 <ul>
                   <li class="text-danger" v-for="error in errors">{{ error }}</li>
                 </ul>
                <div class="controls">
                  <div class="row align-items-center">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="profession">Employee Number:</label>
                        <input type="text" id="profession" name="profession" placeholder="Employee Number" class="form-control" v-model="employeeNumber">
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label for="location">Password:</label>
                        <input type="password" id="location" name="location" placeholder="Password" class="form-control" v-model="password">
                      </div>
                    </div>
                    <div class="col-md-3">
                          <input type="submit" class="btn btn-success" value="Submit">

                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>


   <button type="submit" class="btn btn-base-color btn-block btn-large box-shadow-wide mt-5 mx-0 text-white"> {{ possible_answer.choice }} </button>
               <router-link  type="submit" class="btn btn-primary" :to="{name: 'questions-show', params: {id: possible_answer.next_question_id}}" > Next Question </router-link>


               <div v-on:submit.prevent="submit()">
                 <!-- <a type="submit" class="btn btn-success" value="possible_answer"> {{possible_answer.choice}} </a> -->
                
                <router-link type="submit" :to="{name: 'questions-show', params: {id: possible_answer.next_question_id}}" v-model="possible_answer_id" > {{ possible_answer.id }}. {{possible_answer.choice}}  </router-link>
              </div>




<section class="job-form-section job-form-section--compressed">
      <div class="container" id="search-by-patient">
        <h4 class="heading">Search for Patient </span></h4>
        <form id="job-main-form" method="get" action="#" class="job-main-form">
          <div class="controls">
            <div class="row align-items-end">
              <div class="col-sm-1 col-lg-2"></div>
              <div class="col-sm-5 col-lg-4 form-group">
                <label for="search-by">Name</label>
                <input type="text" id="profession" name="patients" placeholder="Patient Name" class="form-control" v-model="nameFilter">
                <datalist id="patients">
                  <option v-for="patient in patients"> {{patient.name}} </option>
                </datalist>
              </div>
              <div class="col-sm-1 col-lg-2 form-group">
                <button type="submit" name="name" class="btn btn-outline-white-primary job-main-form__button"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>